import React from "react";
import Loadable from "react-loadable";

const Loading = () => <div>loading...</div>;
const render = (loaded, props) => {
  let Component = loaded.default;
  return <Component {...props} />;
};
const loadableConf = {
  render,
  loading: Loading,
};

export default [<% routes.forEach(function(item){ %>
  {
    path: "'<%= item.path %>'",
    exact: true,
    component: Loadable({
      loader: () => import("<%= item.componentPath %>"),
      ...loadableConf,
    })
  },
<% }) %>];
